@font-face {
  font-family: 'PressStart2P';
  src: url('https://joshuafrias95.github.io/level-up-site/fonts/PressStart2P-Regular.ttf') format('truetype');
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
